<div class="page-title">

    <div class="title-env">
        <h1 class="title">Bienvenido a Garrahan Admin</h1>
        <p class="description">Este es un ejemplo asombroso para de un Admin en el curso</p>
    </div>

    <div class="breadcrumb-env">
        <ol class="breadcrumb bc-1" >
            <li>
                <a href="#home"><i class="fa-home"></i>Home</a>
            </li>
        </ol>
    </div>
</div>

<div ng-controller="homeCtrl">
    <div class="col-sm-12">
        <div class="panel panel-default">
          <h1 class="title">A Practicar!</h1>

           
            </div>
        </div>
    </div>

</div>